<div id="navbar">
    <mat-toolbar color="primary">
        <mat-toolbar-row >
            <h1><a mat-button [routerLink]="'/dashboard'"> LOGO </a></h1>
            <span class="menu-spacer"></span>
            <div>
                <div *ngIf="logged_in; then thenBlock else elseBlock"></div>
                <ng-template #thenBlock><a mat-button [routerLink]="'/dashboard'"> Dashboard </a></ng-template>
                <ng-template #elseBlock><a mat-button [routerLink]="'/login'"> Login </a>
                    <a mat-button [routerLink]="'/register'"> Register </a>
                </ng-template>
                <a mat-button [routerLink]="'/tweets'"> Tweets </a>
                <a mat-button [routerLink]="'/users'"> All Users </a>
                <div *ngIf="logged_in;then logoutBlock"></div>
                <ng-template #logoutBlock><a mat-button (click)="logout()"> Logout </a></ng-template>
                <!-- <a mat-button [routerLink]="'/create-activity'"> Create Activity </a> -->
            </div>
        </mat-toolbar-row>
    </mat-toolbar>
</div>
<router-outlet></router-outlet>
