<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Log in</mat-card-title>
      </mat-card-header>
      <form class="example-form">
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Username" #username>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Password" type="password" #password>
          </mat-form-field>
        </mat-card-content>
        <mat-spinner *ngIf="running" color="accent" style="left: 30%;"></mat-spinner>
        <button *ngIf="running == false" mat-stroked-button class="btn-block" (click)="login(username.value,password.value)" type="button">Log in</button>
      </form>
    </mat-card>
  </div>